.NST{
    height: 40px;
    margin-right: 10px;
}
.ADY{
    height: 40px;
    margin-left: 10px;
}
.X{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    height: 15px;
}
.logos{
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
body {
    background: radial-gradient(circle at 15% 25%, rgba(10, 0, 100, 0.687), transparent),
                radial-gradient(circle at 85% 20%, rgba(178, 5, 217, 0.4), transparent),
                radial-gradient(circle at 50% 65%, rgba(120, 0, 255, 0.4), transparent),
                radial-gradient(circle at 30% 85%, rgba(255, 234, 0, 0.3), transparent),
                radial-gradient(circle at 90% 90%, rgba(0, 255, 153, 0.3), transparent),
                #010a18; /* Deep navy-black for a darker cyberpunk base */
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}